.nav-fix{
  position: sticky;
}
.topo{
  background-color: white;
}

.logo{
  margin-left: 50px;
}

.procurar{
  margin-right: 50px;
}

.carross{
height: 870px;
}

.text1-home{
  text-align: justify;
  font-size: 30px;
    font-weight: 200;
    margin-left: 45px;
    width: 90%;
}

.text2-home{
  text-align: justify;
  font-size: 30px;
    font-weight: 200;
    margin-left: 45px;
    width: 90%;
}

.text3-home{
  text-align: justify;
  font-size: 30px;
    font-weight: 200;
    margin-left: 45px;
    margin-bottom: 80px;
}



.cont-guia{
  width: 100px; 
 height: 50px; 
 -webkit-transform: skew(20deg); 
 -moz-transform: skew(20deg); 
 -o-transform: skew(20deg); 
 background: #66CC99; 
 font-weight: 500;
 font-size: 40px;
 color: white;
 background-color:blue;
 width: 350px;
 height: 80px;
 
}

.baix{
 color: blue;
 margin-left: 200px;
 font-size: 20px;
}

.guia{
 margin-left: 20px;
}

.text-guia{
  margin-left: 50px;
}

.cont-escol{
 background-color: gray;
 height: 450px;
}

.cont-img{
 height:600px;
width: 500px;
}

.img-cards{
 height: 100%;
width: 100%;
object-fit: contain;
}

.card-street{
 border-radius: 15px;
}  



.cont-img{
  height:600px;
 width: 500px;
}

.img-cards{
  height: 100%;
 width: 100%;
 object-fit: contain;
}

.cont-guia{
  color: white;
  background-color:blue;
  width: 350px;
  height: 80px;
  margin-left: -800px;
  margin-bottom: -60px;
  
}

.text-guia{
  font-style: italic;
  font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 20px;
}

.guia{
  color: blue;
  margin-left: 970px;
  font-size: 20px;
}

.card1{
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.tit-text-card1{
  text-align:center;
  font-style: italic;
  margin-top: 0px;
}

.text-card1{
  text-align:justify;
  margin: 4px;
}

.btn-card1{ 
  margin-right: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 60px;
}

.card2{
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.tit-text-card2{
  text-align:center;
  font-style: italic;
  margin-top: 0px;

}

.text-card2{
  text-align:justify;
  margin: 4px;
}


.btn-card2{ 
  margin-right: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 03px;
}

.card3{
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.tit-text-card3{
  text-align:center;
  font-style: italic;
  margin-top: 0px;
}

.text-card3{
  text-align:justify;
  margin: 4px;
}

.btn-card3{ 
  margin-right: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 43px;
}

.card4{
  border-radius: 15px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
} 

.tit-text-card4{
  text-align:center;
  font-style: italic;
  margin-top: 0px;
}

.text-card4{
  text-align:justify;
  margin: 4px;
}

.btn-card4{ 
  margin-right: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 43px;
}

.card5{
  border-radius: 15px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
} 

.tit-text-card5{
  text-align:center;
  font-style: italic;
  margin-top: 0px;
}

.text-card5{
  text-align:justify;
  margin: 4px;
}

.btn-card5{ 
  margin-right: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 23px;
}

.card6{
  border-radius: 15px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
} 

.tit-text-card6{
  text-align:center;
  font-style: italic;
  margin-top: 0px;
}

.text-card6{
  text-align:justify;
  margin: 4px;
}

.btn-card6{ 
  margin-right: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 35px;
}

.btn-volt{
  background-color: #faa85bda;
  margin-top: 300px;
  margin-left: -10px;
}

.btn-ir{
  background-color: #faa85bda;
  margin-top: 300px;
  margin-left:1190px;
}


.p-10{
  padding: 10%;
}

.novid{
  margin-top: 150px;
  background-color: GhostWhite;
  height: 700px;

}

.nov-text1{
  margin-top: 10px;
  color: blue;
  font-weight: 600;
  margin-left: 450px;
}

.nov-text2{
  margin-left: 580px;
}

.nome{
  margin-top: 10px;
  margin-left: 570px;
}
.nome-form{
  width: 50%;
}

.email{
  margin-top: 15px;
  margin-left: 570px;
}

.email-form{
  width: 50%;
}

.form{
  margin-top: 50px;
}

.btns-enviar{
  margin-top: 40px;
  margin-left: 700px;
  border-radius: 15px;
  margin-bottom: 80px;
}

.btns-excluir{
  margin-top: 40px;
  margin-left: 50px;
  border-radius: 15px;
  margin-bottom: 80px;
}

.text1-troc{
  margin: auto;
  width: 90%;
  text-align: center;
  margin-bottom: 15px;
}

.text2-troc{
  margin: auto;
  width: 90%;
  margin-bottom: 15px;
}

.text3-troc{
  margin: auto;
  width: 90%;
  margin-bottom: 150px;
}


.ant-rod{
  margin-top: 70px;
  background-color: blue;
  height: 10px;
}

.rodape{ 
      background-color: black;
      color: #FFF;
      width: 100%;
      height:500px;
      text-align: center;
}

.copyrig{
margin-right: 100px;
margin-bottom: 70px;
font-style: italic;
font-weight: 800;

}

.redes-sociais{
margin-bottom: 20px;
}

.face{
  margin-left: -30px;
}

.insta{
  margin-left: 200px;
}

.tt{
  margin-left: 200px;
}

.yout{
  margin-left: 200px;
}

.linked{
  margin-left: 200px;
}
.rod-part1{
margin-bottom:30px;
}

.rod-coc{
font-style: italic;
color:inherit;
margin-left: 50px;
}

.rod-etic{
font-style: italic;
color:inherit;
margin-left: 120px;
}

.rod-nshist{
font-style: italic;
color:inherit;
margin-left: 125px;
}

.rod-trab{
font-style: italic;
color:inherit;
margin-left: 125px;
}

.rod-man{
font-style: italic;
color:inherit;
margin-left: 100px;
}

.rod-part2{
margin-top: 20px;
margin-bottom:30px;
}

.rod-term{
font-style: italic;
color:inherit;
margin-left: 30px;
}

.rod-pol{
font-style: italic;
color:inherit;
margin-left: 110px;
}

.rod-canden{
font-style: italic;
color:inherit;
margin-left: 85px;
}

.rod-recall{
font-style: italic;
color:inherit;
margin-left: 150px;
}

.rod-cont{
font-style: italic;
color:inherit;
margin-left: 200px;
}

.rod-part3{
margin-bottom:30px;
margin-left: 50px;
}

.cep{
  margin-left: 200px;
}

.ms-20{
  margin-left: 35%;
}

.bluclub{
  font-size: 200%;
}