<div class="container-fluid p-0 sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light topo">
    <a class="navbar-brand" href="#">
      <img src="https://freepikpsd.com/file/2019/10/desenhos-de-motos-em-png-1-Transparent-Images.png" alt="" width="70"
        height="50" class="d-inline-block align-text-top logo">
    </a>
    <a class="navbar-brand" routerLink="">Multimotos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Cadastre-se
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"  routerLink="cad-usuarios">Cadastro de usuário</a></li>
            <li><a class="dropdown-item"  routerLink="cad-clientes">Cadastro de cliente</a></li>
            <li><a class="dropdown-item" routerLink="cad-motos">Cadastro de motocicletas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Motos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"  routerLink="street">Street</a></li>
            <li><a class="dropdown-item"  routerLink="custom">Custom</a></li>
            <li><a class="dropdown-item"  routerLink="trail">Trail</a></li>
            <li><a class="dropdown-item"  routerLink="scooter">Scooter</a></li>
            <li><a class="dropdown-item"  routerLink="sport">Sport</a></li>
            <li><a class="dropdown-item"  routerLink="touring">Touring</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="acompanhemento" tabindex="-1" aria-disabled="true">Acompanhamento de pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="multiclub" tabindex="-1" aria-disabled="true">MULTI CLUB</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2 " type="search" placeholder="Digite aqui..." aria-label="Search">
        <button class="btn btn-outline-info procurar" type="submit">Procurar</button>
      </form>
    </div>
  </nav>
</div>
<div carrossel-img>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.moneyexpert.com/storage/uploads/2021/04/contrato-moto-16195352468avSG.png"
          class="d-block w-100 carross" alt="...">
      </div>
      <div class="carousel-item">
        <img
          src="https://embra-assets.nyc3.digitaloceanspaces.com/public/blog/guia-completo-de-como-comprar-uma-moto-com-consorcio.jpg"
          class="d-block w-100 carross" alt="...">
      </div>
      <div class="carousel-item">
        <img src="http://eritonmotos.com.br/media/wysiwyg/blog-img/1_2.jpg" class="d-block w-100 carross" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.mixvale.com.br/wp-content/uploads/2019/11/comprar-moto-usada.jpg"
          class="d-block w-100 carross" alt="...">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<!--Cards motos-->
<div class="escolh-moto">
  <hr class="mb-5" />
  <p class="text1-home">
    Sua liberdade começa aqui! Tudo sobre motos novas, usadas e seminovas com os melhores preços, ofertas e parcelamentos do Brasil, só aqui, na MULTIMOTOS BRASIL.</p> 
    <p class="text2-home">No nosso site você encontra diversos estilos de moto por um valor amigável.</p> 
    <p class="text3-home">Encontre aqui sua próxima motocicleta:</p>
  

    <!--guia-->
    <div class="guia">
    <div class="cont-guia">
      <p class="text-guia">
          <b>GUIA DE MOTOS</b>
      </p>
  </div>
    </div>
    <!--/guia-->
      <hr class="mb-5" />



  <!--Card-street-->
  <div class="col-md-6" style="float:left">
    <div class="card mb-2 border-primary card1 " style="width: 35rem; height: 45rem;">
      <div class="cont-img">
        <img class="card-img-top img-cards"
          src="https://www.honda.com.br/motos/sites/hda/files/styles/product_860x550/public/2021-08/EixosMotos_0000s_0001s_0002_CG-Start-Prata_0.webp?itok=6eaHjJuz"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title tit-text-card1">STREET</h4>
        <p class="card-text text-card1">Esta é a categoria que alguns classificariam como o “estilo padrão brasileiro”,
          pois – como o próprio nome diz – são indicadas para a circulação nas cidades. Feitas no padrão on road,
          apresentam posição de pilotagem sentada, lugar para garupa, poucos acessórios e motores entre 125 e 500
          cilindradas (sendo as mais comuns entre 125 e 250cc), com velocidades máximas entre 110 e 160 km/h. São as
          queridinhas da maior parte dos brasileiros, geralmente por terem preços mais acessíveis e serem mais fáceis de
          pilotar.</p>
        <a href="#" class="btn btn-outline-info btn-card1">saiba mais...</a>
      </div>
    </div>
  </div>
  <!--/Card street-->

  <!--Card custom--->
  <div class="col-md-6" style="float:left">
    <div class="card mb-2 border-primary card2" style="width: 35rem; height: 45rem;">
      <div class="cont-img">
        <img class="card-img-top img-cards"
          src="https://www.webmotors.com.br/wp-content/uploads/2021/12/24145555/1.-Harley-Davidson-Road-King-Special.jpg"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title tit-text-card2">CUSTOM</h4>
        <p class="card-text text-card2">Também no padrão on road e com design voltado ao conforto, as custom se
          diferenciam principalmente por serem imponentes, mais personalizadas e por fazerem parte da imaginação popular
          de “moto ideal”, graças aos muitos filmes, músicas e fotos famosas que as utilizaram. Essa divulgação extra se
          deve ao fato de que as custom são ideais para quem curte pegar a estrada: geralmente têm em torno de 500 a
          1200 cilindradas e possuem um banco mais baixo, com apoio para garupa e garfos dianteiros longos, com manoplas
          elevadas, que permitem uma posição de pilotagem mais confortável em longas distâncias.</p>
        <a href="#" class="btn btn-outline-info btn-card2">SAIBA MAIS...</a>
      </div>
    </div>
  </div>
  <!--/Card street-->

  <!--Card trail-->
  <div class="col-md-6" style="float:left">
    <div class="card mb-2 border-primary card3" style="width: 35rem; height: 45rem;">
      <div class="cont-img">
        <img class="card-img-top img-cards" src="http://bestriders.com.br/wp-content/uploads/2012/05/Honda-Broz.jpg"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title tit-text-card3">TRAIL</h4>
        <p class="card-text text-card3">Como o próprio nome diz, as trail são preparadas para encarar trilhas, sejam
          elas leves ou pesadas. O diferencial desta categoria é que ela tem um padrão conhecido como on-off road, ou
          seja, servem tanto para o dia a dia urbano, quanto para pegar a estrada ou encarar esportes.
          Uma das categorias com maiores opções de diferenciação de motores, possui alta maleabilidade, pois os
          acessórios e manoplas mais altos favorecem o uso no trânsito das grandes cidades, por ficarem acima do nível
          dos retrovisores dos carros. </p>
        <a href="#" class="btn btn-outline-info btn-card3">SAIBA MAIS...</a>
      </div>
    </div>
  </div>
  <!--/Card trail-->

  <!--Card scooter-->
  <div class="col-md-6" style="float:left">
    <div class="card mb-2 border-primary card4" style="width: 35rem; height: 45rem;">
      <div class="cont-img">
        <img class="card-img-top img-cards"
          src="https://autoentusiastas.com.br/ae/wp-content/uploads/2022/03/YAMAHA-FLUO-125-DIAGONAL-1140x720.jpg"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title tit-text-card4">SCOOTER</h4>
        <p class="card-text text-card4">Esta categoria é exclusiva do asfalto: munida de câmbio automático, escudo
          frontal de proteção das correntes de vento e baixas cilindradas (geralmente entre 50 a 150).
          O piloto que escolhe uma scooter pilota sossegadamente sentado, com os pés apoiados em pisos planos. Alguns
          modelos são equipados com nichos e alças. Práticas, rápidas e muito econômicas, são indicadas para trânsitos
          caóticos, mesmo que, tendo rodas pequenas, não possam oferecer tanta segurança, estabilidade e maleabilidade
          quanto às categorias de pneus maiores.</p>
        <a href="#" class="btn btn-outline-info btn-card4">SAIBA mais...</a>
      </div>
    </div>
  </div>
  <!--/Card scooter-->

  <!--Card sport-->
  <div class="col-md-6" style="float:left">
    <div class="card mb-2 border-primary card5" style="width: 35rem; height: 45rem;">
      <div class="cont-img">
        <img class="card-img-top img-cards"
          src="https://motobr.files.wordpress.com/2011/02/bmw-s1000rr-superstock-limited-edition-17.jpg"
          alt="Card image cap">
      </div>
      <div class="card-body">
        <h4 class="card-title tit-text-card5">SPORT</h4>
        <p class="card-text text-card5"> Talvez o que mais chame a atenção em uma moto esportiva seja o design
          aerodinâmico de visual futurista e a mecânica de alto desempenho de motores que chegam a 1200 cilindradas.
          Como o próprio nome já define, são indicadas para o esporte e pouco recomendadas para uso em centros urbanos,
          quer seja pelo tamanho avantajado ou pela posição de pilotagem “carenada” (quando o piloto fica com o corpo
          inclinado, com o peito posicionado muito próximo às carenagens), bastante desconfortável, inclusive alguns
          modelos sendo monolugares. </p>
        <a href="#" class="btn btn-outline-info btn-card5">SAIBA MAIS...</a>
      </div>
    </div>
  </div>
  <!--/Card sport-->

  <!--Card touring-->
  <div class="col-md-6 d-flex justify-content-around">
    <div class="card mb-2 border-primary card6" style="width: 35rem; height: 45rem;">
      <img class="card-img-top"
        src="https://www.honda.com.br/motos/sites/hda/files/2022-03/Imagem_Moto_GL_1800_Gold_Wing_Tour_0.png"
        alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title tit-text-card6">TOURING</h4>
        <p class="card-text text-card6">Conhecidas como “carros de duas rodas”, as touring têm uma grande capacidade de
          carga e tanque, além de contarem com motores superpotentes e grande torque. O conforto de pilotagem e as
          inúmeras possibilidades que essa categoria oferece favorecem viagens de longa distância, o que não desmente o
          nome, advindo da palavra “tour” – turismo ou passeio em inglês.

          Imponentes e úteis, essas motos podem ser conhecidas também pelos nomes de Bagger (devido às bolsas laterais
          que permite adicionar), Dresser (devido à comodidade) ou Grã-Turismo (GT) – esta última, por motivos óbvios.
        </p>
        <a href="#" class="btn btn-outline-info btn-card6">SAIBA MAIS...</a>
      </div>
    </div>
  </div>
  <!--/Card touring-->
</div>
<!--/Cards motos-->

<div class="novid">
  <h2 class="nov-text1 pt-5">
    FIQUE POR DENTRO DAS NOSSAS NOVIDADES
  </h2>
  <h5 class="nov-text2">
    Inscreva-se para receber nossas newsletters
  </h5>
    <div class="nome">
    <label for="exampleFormControlInput1" class="form-label">Nome</label>
    <input type="name" class="form-control nome-form" id="exampleFormControlInput1" placeholder="Ex: Joãozinho">
  </div>
    <div class="email">
    <label for="exampleFormControlInput1" class="form-label">E-mail</label>
    <input type="email" class="form-control email-form" id="exampleFormControlInput1" placeholder="Ex: joaozinho015@gmail.com">
  </div>
      
    <button class="btn btns-enviar btn-outline-info" type="button" value="Input">
         enviar
      </button>
    <button class="btn btns-excluir btn-outline-info" type="reset" value="reset">
         excluir
      </button>
    <div class="troca">
    <p class="text1-troc">
      <b>*Valorização de moto usada</b> e fácil financiamento na compra de moto 0 km. As concessionárias MULTIMOTOS oferecem a melhor condição do mercado na troca de <b>motos usadas</b> ou moto seminova ao comprar uma moto nova ou zero km. O financiamento é fácil de ser realizado e aprovado com as concessionárias MULTIMOTOS, que já tem o contato com os bancos e experiencia com a aprovação, envio de documentação e opções de financiamento a serem informados ao cliente. Siga nossas recomendações do Passo a passo abaixo para a troca de moto conosco. Localize a concessionaria (aqui), contate a concessionaria e explique para o vendedor qual é a sua moto usada ou seminova. 
    </p>
    <p class="text2-troc">
      <b>Marca: Exemplo: Suzuki, Honda,Yamaha, Kawasaki, Bmw, Triumph, Harley Davidson ou outras.</b>
    </p>
    <p class="text3-troc">
      <b>Nota: todos as motocicletas  são fornecidas apenas com o equipamento exigido por lei .  As motocicletas representadas nas imagens e vídeos deste sítio Web podem também ser diferentes. As imagens podem incluir extras opcionais.</b>
    </p>
      </div>
  </div>
      <!--/teste-->

<div class="ant-rod">
  .
</div>
<!--Rodapé-->
<footer class="rodape">
  <!--text copyright-->
  <div class="copyrig pt-5">
    Copyright ©MULTIMOTOS BRASIL
  </div>
  <!--/text copyright-->

  <!--ícones redes sociais-->
  <div class="redes-sociais">
    <a href="https://pt-br.facebook.com/" class="face">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-facebook"
        viewBox="0 0 16 16">
        <path
          d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
      </svg>
    </a>
    <a href="https://www.instagram.com/" class="insta">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-instagram"
        viewBox="0 0 16 16">
        <path
          d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
      </svg>
    </a>
    <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D"
      class="tt">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-twitter"
        viewBox="0 0 16 16">
        <path
          d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
      </svg>
    </a>
    <a href="https://www.youtube.com/" class="yout">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-youtube"
        viewBox="0 0 16 16">
        <path
          d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
      </svg>
    </a>
    <a href="https://br.linkedin.com/" class="linked">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-linkedin"
        viewBox="0 0 16 16">
        <path
          d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
      </svg>
    </a>
  </div>

  <!--text rodape-part1-->
  <hr class="mb-5" />
  <div class="rod-part1">
    <u>
      <a href="#" class="rod-coc">Concessionárias</a>
      <a href="#" class="rod-etic">Éticas e Normas</a>
      <a href="#" class="rod-nshist">Nossa História</a>
      <a href="#" class="rod-trab">Trabalhe Conosco</a>
      <a href="#" class="rod-man">Manual do Proprietário</a>
    </u>
  </div>
  <!--/text rodape-part1-->
  <hr class="mb-5" />

  <!--text rodape-part2-->
  <div class="rod-part2">
    <u>
      <a href="#" class="rod-term">Termos de Uso</a>
      <a href="#" class="rod-pol">Política de Privacidade</a>
      <a href="#" class="rod-canden">Canal de Denúncia</a>
      <a href="#" class="rod-recall">Recall</a>
      <a href="#" class="rod-cont">Contato</a>
    </u>
  </div>
  <!--/text rodape-part2-->
  <hr class="mb-5" />

  <!--text rodape-part3-->
  <div class="rod-part3">
    <a>
      RAZÃO SOCIAL MULTIMOTOS BRASIL LTDA. AV. KAZUMI YOSHIMURA - VILA ISABEL, ITAPEVA-SP
      <p class="cep">CEP 18411-390 | CNPJ 62.934.255/0001-75</p>
    </a>
  </div>
  <!--/text rodape-part3-->
</footer>
<!--/Rodapé-->