<div class="container-fluid p-0 sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light topo">
      <a class="navbar-brand" href="#">
        <img src="https://freepikpsd.com/file/2019/10/desenhos-de-motos-em-png-1-Transparent-Images.png" alt="" width="70"
          height="50" class="d-inline-block align-text-top logo">
      </a>
      <a class="navbar-brand" routerLink="/">Multimotos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Cadastre-se
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/cad-usuarios">Cadastro de usuário</a></li>
              <li><a class="dropdown-item" routerLink="/cad-clientes">Cadastro de cliente</a></li>
              <li><a class="dropdown-item" routerLink="/cad-motos">Cadastro de motocicletas</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Motos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"  routerLink="/street">Street</a></li>
              <li><a class="dropdown-item"  routerLink="/custom">Custom</a></li>
              <li><a class="dropdown-item"  routerLink="/trail">Trail</a></li>
              <li><a class="dropdown-item"  routerLink="/scooter">Scooter</a></li>
              <li><a class="dropdown-item"  routerLink="/sport">Sport</a></li>
              <li><a class="dropdown-item"  routerLink="/touring">Touring</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/acompanhemento" tabindex="-1" aria-disabled="true">Acompanhamento de pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="multiclub" tabindex="-1" aria-disabled="true">MULTI CLUB</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2 " type="search" placeholder="Digite aqui..." aria-label="Search">
          <button class="btn btn-outline-info procurar" type="submit">Procurar</button>
        </form>
      </div>
    </nav>
  </div>
<!--img-topo-->
<div class="topo">
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://www3.yamaha-motor.com.br/file/general/banner_principal_BluClub_1920x1080.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <p class="text1-img-topo">MULTI CLUB BRASIL</p>
            <h3 class="text2-img-topo">UM UNIVERSO DE VANTAGENS</h3>
          </div>
        </div>
      </div>
      <!--/img-topo-->
      
      <!--Multi Club info-->
    <div class="multi1">
      <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-toggle2-on icon-multi" viewBox="0 0 16 16">
      <path d="M7 5H3a3 3 0 0 0 0 6h4a4.995 4.995 0 0 1-.584-1H3a2 2 0 1 1 0-4h3.416c.156-.357.352-.692.584-1z"/>
      <path d="M16 8A5 5 0 1 1 6 8a5 5 0 0 1 10 0z"/>
    </svg>
      <div class="d-flex justify-content-around">
      <h4 class="multi">
        MULTI
        <span class="club">CLUB</span>
      </h4>
      </div>
      <div class="d-flex justify-content-evenly">
        <p class="text-multi1">
          O MULTI CLUB é um espaço de relacionamento que traz novidades do Universo MULTI,
          como competições, cursos de pilotagem, passeios e eventos. Conta também com o Programa 
          MULTI CLUB VANTAGENS para que você junte pontos comprando com desconto em milhares de parceiros 
          e trocando por produtos e serviços nas concessionárias participantes.
        </p>
        <img class="img-multiclub" width="550" height="550" src="https://www3.yamaha-motor.com.br/file/general/APP_BluClub-noborder.png">
      </div>
    </div>
      <!--/Multi Club info-->
    
      <!--Multi Club vantagens-->
    <div class="img-vantagens">
      <img src="https://www3.yamaha-motor.com.br/file/v9010314075434826834/general/banner_BLUCLUB_VANTAGENS_1920x500.jpg" class="d-block w-100" alt="...">
    </div>
    
    <div class="multi-vantagens">
      <div class="d-flex justify-content-around">
        <h4 class="text1-multi-vantagens">
          MULTI CLUB
          VANTAGENS
        </h4>
        <p class="text2-multi-vantagens">
          Um <b>PROGRAMA GRATUITO E EXCLUSIVO</b> para quem adquiriu sua moto 0km* com <b>renovação automática por mais 6 meses</b> para quem 
          realiza as <b>revisões periódicas nas concessionárias autorizadas Yamaha.</b>
          <br>
          <span class="text-val text-nowrap bd-highlight"> *Válido para motocicletas 0km adquiridas a partir de 2021</span></p>
      </div>
    </div>
       <!--/Multi Club vantagens-->
    
      <!--baixe o app-->
    <div class="baix">
        <p class="text-baix">
        <b>BAIXE O APP E APROVEITE!</b>
      </p>
      <div class="cont-baix">
    </div>
      </div>
     <hr class="mb-5 depois-app"/>
    <!--/baixe o app-->
      
    <!--multi club eventos-->
      <div class="img-eventos">
      <img src="https://www3.yamaha-motor.com.br/file/general/BLUCLUB_EVENTOS_DESKTOP.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="multi-eventos">
      <div class="d-flex justify-content-around">
        <h4 class="text1-multi-eventos">
          <div class="text-nowrap bd-highlight">
            MULTI CLUB
          </div>
          EVENTOS
        </h4>
        <p class="text2-multi-eventos">
          Aqui você acompanha a agenda de todos os campeonatos MULTIMOTOS Racing Brasil, participa de cursos e palestras com dicas de pilotagem, passeios, eventos e competições da marca e do segmento.
        </p>
      </div>
      </div>
      <!--/multi club eventos-->
      
      <!--baixe o app-->
    <div class="baix">
        <p class="text2-baix">
        <b>BAIXE O APP E FIQUE LIGADO!</b>
      </p>
      <div class="cont-baix">
    </div>
      </div>
     <hr class="mb-5 depois-app"/>
    <!--/baixe o app-->
    
      <!--multi club cursos-->
    <div class="img-cursos">
      <img src="https://www3.yamaha-motor.com.br/file/general/banner_BLUCLUB_CURSOS_1920x500.jpg" class="d-block w-100" alt="...">
    </div>
      <div class="multi-cursos">
      <div class="d-flex justify-content-around">
        <h4 class="text1-multi-cursos">
          <div class="text-nowrap bd-highlight">
            MULTI CLUB
          </div>
          CURSOS
        </h4>
        <p class="text2-multi-cursos">
          Aqui você encontra diversos cursos de pilotagem da MULTIMOTOS Riding Academy, com instrutores certificados da MULTI. 
          Uma maneira simples e dinâmica de melhorar suas habilidades de condução.
        </p>
      </div>
      </div>
      <!--/multi club cursos-->
        
       <!--baixe o app-->
    <div class="baix">
        <p class="text3-baix">
        <b>BAIXE O APP E CONHEÇA!</b>
      </p>
      <div class="cont-baix">
    </div>
      </div>
     <hr class="mb-5 depois-app"/>
    <!--/baixe o app-->
         
    
    <div class="qr-code">
      <h4 class="text-qr">
       <b> APONTE A CÂMERA DO SEU SMARTPHONE PARA <br> O QR CODE E FAÇA DOWNLOAD DO APP.
      </b>
         </h4>
    </div>
    <div class="qr">
      <img src="https://www3.yamaha-motor.com.br/file/general/qrcode-yma.png" width="300" height="300">
    </div>
    <div class="gg-app">
      <a href="#">
    <img src="https://www3.yamaha-motor.com.br/file/general/icone-play-store.png">
      <img src="https://www3.yamaha-motor.com.br/file/general/icone-apple.png">
    </a></div>
    
    <div>
      
     <p class="text-fraud">
       AVISO DE FRAUDE
    
    A Yamaha informa que os seus produtos são comercializados por meio das concessionárias autorizadas da marca 
       e/ou através do seu e-commerce oficial, não sendo realizadas vendas para o consumidor final por telefone, 
       funcionários ou quaisquer outros tipos de parceiros e/ou representantes comerciais, bem como outros sites 
       da internet. Para maiores informações,
       <a class=" ver-mais" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">clique aqui.</a>
      </p>
      <div class="collapse" id="collapseExample">
      <div class="card card-body card-fraud">
        <p>
          Através de denúncias recebidas em nosso SAC, a YAMAHA tomou conhecimento de que, por intermédio de sites de compra especializados, classificados de jornais e telemarketing, estão sendo oferecidos produtos de nossa marca com condições diferenciadas e valores inferiores aos de mercado.</p>
    
    <p>Esses anúncios consistem na oferta de produtos por supostos funcionários da Yamaha ou por funcionários de supostas empresas parceiras da Yamaha ou, ainda, por terceiros que alegam terem sido premiados com produtos da marca ou terem adquirido os produtos com descontos diretamente na fábrica, a fim de justificar os baixos valores anunciados.</p>
        
    
    <p>Para dar maior realidade à fraude, esses criminosos falsificam documentos, e-mails, supostos comprovantes de transações bancárias e notas fiscais com a logomarca da YAMAHA e/ou do nome de uma Concessionária da marca, na tentativa de induzir a pessoa interessada na compra a acreditar tratar-se de operação legal.</p>
    
    <p> Para evitar esse tipo de fraude, confirme a veracidade das informações apresentadas no anúncio visitando pessoalmente a concessionária antes de concretizar a compra, e principalmente, antes de efetuar qualquer pagamento, que deverá, necessariamente, ser realizado na conta bancária da concessionária e, nunca, em nome de terceiros, sob qualquer pretexto.</p>
    
        <p>O acesso ao e-commerce oficial da marca deve ser realizado digitando o endereço eletrônico www3.yamaha-motor.com.br na barra de pesquisa do seu navegador e nunca através de links fornecidos por outros sites ou e-mails.</p>
    
    <p> A lista completa das concessionárias autorizadas da marca YAMAHA pode ser consultada no seguinte endereço eletrônico: www3.yamaha-motor.com.br</p>
    
    <p>Para mais informações, consulte o nosso SAC (Serviço de Atendimento ao Cliente) pelo telefone (11) 2431-6500, de segunda à sexta-feira, das 8h30 às 17h30, exceto feriados, ou por e-mail: sac@yamaha-motor.com.br - SAC Consórcio: 0800-774-3233 ou e-mail: sac.consorcio@yamaha-motor.com.br - SAC Banco: 0800-774-8283 ou e-mail: sac.banco@yamaha-motor.com.br - ou ainda o CAS - Atendimento aos portadores de deficiência auditiva ou de fala: 0800-774-1415. CAC Compre Online (11) 2431-6001 ou e-mail: atendimento.online@yamaha-motor.com.br</p>
    
       <p> YAMAHA MOTOR DA AMAZÔNIA LTDA.</p>
    
    <p>
      YAMAHA ADMINISTRADORA DE CONSÓRCIO LTDA.</p>
    
    <p>BANCO YAMAHA MOTOR DO BRASIL S.A.</p>
    
    <p>YAMAHA MOTOR DO BRASIL CORRETORA DE SEGUROS LTDA.</p>
        <p>
              <a class="ver-menos" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Ver menos.</a>
    
        </p>
      </div>
    </div>
      
    </div>
    
    <div class="ant-rod">
      .
    </div>
    <!--Rodapé-->
    <footer class="rodape">
      <!--text copyright-->
      <div class="copyrig pt-5">
        Copyright ©MULTIMOTOS BRASIL
      </div>
      <!--/text copyright-->
      
      <!--ícones redes sociais-->
      <div class="redes-sociais">
        <a href="https://pt-br.facebook.com/" class="face">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-facebook"
            viewBox="0 0 16 16">
            <path
              d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
          </svg>
        </a>
        <a href="https://www.instagram.com/" class="insta">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-instagram"
            viewBox="0 0 16 16">
            <path
              d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
          </svg>
        </a>
        <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D"
          class="tt">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-twitter"
            viewBox="0 0 16 16">
            <path
              d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
          </svg>
        </a>
        <a href="https://www.youtube.com/" class="yout">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-youtube"
            viewBox="0 0 16 16">
            <path
              d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
          </svg>
        </a>
        <a href="https://br.linkedin.com/" class="linked">
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-linkedin"
            viewBox="0 0 16 16">
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
          </svg>
        </a>
      </div>
      <!--/ícones redes sociais-->
      
      <!--text rodape-part1-->
      <div class="rod-part1">
        <u>
        <a href="#" class="rod-coc">Concessionárias</a>
        <a href="#" class="rod-etic">Éticas e Normas</a>
        <a href="#" class="rod-trab">Trabalhe Conosco</a>
        <a href="#" class="rod-man">Manual do Proprietário</a>
        </u>
      </div>
      <!--/text rodape-part1-->
        <hr class="mb-5"/>
      
      <!--text rodape-part2-->
        <div class="rod-part2">
          <u>
            <a href="#" class="rod-term">Termos de Uso</a>
            <a href="#" class="rod-pol">Política de Privacidade</a>
            <a href="#" class="rod-canden">Canal de Denúncia</a>
            <a href="#" class="rod-recall">Recall</a>
            <a href="#" class="rod-cont">Contato</a>
          </u>  
      </div>
      <!--/text rodape-part2-->
      <hr class="mb-5"/>
            
       <!--text rodape-part3-->     
      <div class="rod-part3">
        <a>
          RAZÃO SOCIAL MULTIMOTOS BRASIL LTDA. AV. KAZUMI YOSHIMURA - VILA ISABEL, ITAPEVA-SP
          <p>CEP 18411-390 | CNPJ 62.934.255/0001-75</p>
        </a>
      </div>
      <!--/text rodape-part3-->
    </footer>
    <!--/Rodapé-->