.topo{
    background-color: white;
  }
  
  .logo{
    margin-left: 50px;
  }
  
  .procurar{
    margin-right: 40px;
    margin-left: 10px;
  }
  
.text1-img-topo{
    font-size: 90px;
    font-weight: 500;
    margin-left: auto;
  }
  
  .text2-img-topo{
    font-size: 40px;
  } 
  .multi1{
    background-color: #DCDCDC;
    margin-top: 120px;
    height: 440px;
    margin-bottom: 130px;
  }
  
  .icon-multi{
    color: blue;
    margin-left: 250px;
    margin-top: 35px;
  }
  
  .multi{
    color: blue;
    margin-right: 380px;
    font-size: 50px;
    margin-top: -67px;
  }
  
  .club{
    color: navy;
  }
  
  .text-multi1{
    margin-top: 10px;
    margin-left: 250px;
    font-size: 20px;
    margin-bottom: 100px;
  }
  
  .img-multiclub{
    margin-right: 100px;
    margin-top: -140px;
  }
  
  .multi-vantagens{
    background-color: navy;
    height: 250px;
    margin-bottom: 50px;
  }
  
  .text1-multi-vantagens{
    color: white;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 720px;
  }
  
  .text2-multi-vantagens{
    color: white;
    font-size: 19px;
    margin-left: 100px;
    margin-right: 600px;
    margin-top: 50px;
  }
  
  .text-val{
    color: rgb(172, 172, 172);
  }
  
  .img-eventos{
    margin-top: 80px;
  }
  
  .multi-eventos{
    background-color: navy;
    height: 250px;
    margin-bottom: 50px;
  }
  
  .text1-multi-eventos{
    color: white;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 435px;
  }
  
  .text2-multi-eventos{
    color: white;
    font-size: 19px;
    margin-left: 100px;
    margin-right: 300px;
    margin-top: 50px;
  }
  
  .img-cursos{
    margin-top: 80px;
  }
  
  .multi-cursos{
    background-color: navy;
    height: 250px;
    margin-bottom: 50px;
  }
  
  .text1-multi-cursos{
    color: white;
    font-size: 30px;
    margin-top: 70px;
    margin-left: 435px;
  }
  
  .text2-multi-cursos{
    color: white;
    font-size: 19px;
    margin-left: 100px;
    margin-right: 300px;
    margin-top: 50px;
  }
  
  .cont-baix{
    background-color:blue;
    width: 350px;
    height: 10px;
    margin-left: -400px;
    margin-bottom: -20px;
    
  }
  
  .baix{
    color: blue;
    margin-left: 970px;
    font-size: 20px;
  }
  
  .text-baix{
    margin-left: -355px;
  }

  .text2-baix{
    margin-left: -375px;
  }
  
  .text3-baix{
    margin-left: -350px;
  }

  .text-qr{
    margin-top: 20px;
    text-align: center;
  }
  
  
  .qr{
    margin-left: 600px;
    margin-top: 60px;
  }
  
  .gg-app{
    margin-top: 10px;
    margin-left: 580px;
    margin-bottom: 80px;
  }
  
  .text-fraud{
    width: 80%;
    margin-left: 200px;
    text-align: center;
    margin-bottom: 120px;
  }
  
  .val{
    color: gray;
  }
  
  .card-fraud{
    width: 1800px;
    margin-left: 100px;
    border-radius: 20px;
    margin-bottom: 100px;
  }
  
  .ver-menos{
    color: blue;
  }
  
  .ver-mais{
    margin-bottom: 100px;
  }
  
  .ant-rod{
    background-color: blue;
    height: 10px;
  }
  
  .rodape{
      bottom: 0;
      background-color: black;
      color: #FFF;
      width: 100%;
      height:500px;
      text-align: center;
  }
  
  .copyrig{
    margin-left: 50px;
    margin-bottom: 70px;
    font-style: italic;
    font-weight: 800;
  }
  
  .redes-sociais{
    margin-bottom: 30px;
    }
    
    .face{
      margin-left: -30px;
    }
    
    .insta{
      margin-left: 200px;
    }
    
    .tt{
      margin-left: 200px;
    }
    
    .yout{
      margin-left: 200px;
    }
    
    .linked{
      margin-left: 200px;
    }
  
  .rod-part1{
    margin-bottom:30px;
  }
  
  .rod-coc{
    font-style: italic;
    color:inherit;
    margin-left: 40px;
    }
    
    .rod-etic{
    font-style: italic;
    color:inherit;
    margin-left: 120px;
    }
    
    .rod-nshist{
    font-style: italic;
    color:inherit;
    margin-left: 125px;
    }
    
    .rod-trab{
    font-style: italic;
    color:inherit;
    margin-left: 125px;
    }
    
    .rod-man{
    font-style: italic;
    color:inherit;
    margin-left: 100px;
    }
    
    .rod-part2{
    margin-top: 20px;
    margin-bottom:30px;
    }
    
    .rod-term{
    font-style: italic;
    color:inherit;
    margin-left: 30px;
    }
    
    .rod-pol{
    font-style: italic;
    color:inherit;
    margin-left: 110px;
    }
    
    .rod-canden{
    font-style: italic;
    color:inherit;
    margin-left: 85px;
    }
    
    .rod-recall{
    font-style: italic;
    color:inherit;
    margin-left: 150px;
    }
    
    .rod-cont{
    font-style: italic;
    color:inherit;
    margin-left: 200px;
    }
    
  .rod-part3{
    margin-bottom:30px;
  }